<!DOCTYPE html><html lang="en">
  <head>
    <script src="htmx.js"></script>
    <link href="/styles.css" rel="stylesheet">
  </head>
  <body>
    <h1><a href="index.html">My Friends</a></h1>
    <h2><a href="Joseph.html" hx-get="Joseph.html" hx-swap="outerHTML" hx-target="closest h2">Joseph</a></h2>
    <h2><a href="Nicholas.html" hx-get="Nicholas.html" hx-swap="outerHTML" hx-target="closest h2">Nicholas</a></h2>
    <h2><a href="Caesar.html" hx-get="Caesar.html" hx-swap="outerHTML" hx-target="closest h2">Caesar</a></h2>
<br><a href="https://corlaez.com/blog/kotlin-htmx.html">Go to related blog post in corlaez.com</a></body>
</html>
